<footer>
  <hr />
  <p id="icons">
    <a href="http://slals.io" target="_blank" rel="external" title="About Slals"><i class="customi-slals customi-3x calibrator"></i></a>
    <a href="https://www.wooble.io" target="_blank" rel="external" title="See Wooble"><i class="customi-wooble customi-3x calibrator"></i></a>
    <a href="https://twitter.com/opt_Slals" target="_blank" rel="external" title="See Slals Twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="https://github.com/Slaals" target="_blank" rel="external" title="See Slals projects"><i class="fa fa-github-square fa-3x"></i></a>
  </p>
  <p>This blog is maintained by <a href="http://slals.io" target="_blank">{{ site.github.owner_name }}</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a></small></p>
</footer>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
</script>
