<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon.png">
<script src="https://use.fontawesome.com/7fdcb125d7.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Average|Donegal+One|Ovo">
<link ref="stylesheet" href="https://use.fontawesome.com/7fdcb125d7.css" media="all">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
