<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	{% include header.html %}
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
</head>
<body>
	<div class="wrapper">
		{% include nav.html %}
		<section>
			<h1>{{ page.title }}</h1>
			<div class="content">
				{{ content }}
			</div>
			<div class="content">
				<p>
					<i>If you liked it, share it!</i>&nbsp;
					<a href="https://twitter.com/intent/tweet?text=Read%20it%20on%20Slals%20a%20Blog%20{{ site.url }}{{ page.url }}&via=optSlals&related=optSlals" target="_blank" rel="nofollow"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
				</p>
			</div>
			<div id="disqus_thread"></div>
			<script>
				(function() {
				    var d = document, s = d.createElement('script');
				    s.src = '//slals.disqus.com/embed.js';
				    s.setAttribute('data-timestamp', +new Date());
				    (d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</section>
		{% include footer.html %}
	</div>
</body>
</html>
